# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [2]:
dictionary={}
type(dictionary)

dict

In [3]:
data1=dict()
type(data1)

dict

In [6]:
data={'Alabama': 'Montgomery',
     'Arizona': 'Phionex',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio': 'Salem'}
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phionex', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [8]:
data['Alabama']  # Access dictinary values by its key name

'Montgomery'

In [9]:
data['Ohio']

'Salem'

In [11]:
data['Louisiana']   # Key not present

KeyError: 'Louisiana'

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [12]:
days={1: 'Monday',
     2: 'Tuesday',
     4: ('Thursday','Friday'),
     5: ['Saturday','Holiday']}

In [13]:
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [14]:
days[4][0]

'Thursday'

In [15]:
days[5][1]

'Holiday'

In [18]:
days[2]

'Tuesday'

### Update elements of a dictionary and add new elements

In [19]:
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [20]:
days[5][0]='Holiday' #Change value
days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [21]:
days[1]='Holiday' #Change value
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday']}

In [22]:
days[3]='Wednesday' #Add value
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [23]:
days[6]=['XYZ','ABC']
days

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday',
 6: ['XYZ', 'ABC']}

### `get` and `update` methods

In [24]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [25]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phionex',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [26]:
# Access an element using .get method
data.get('Alabama')

'Montgomery'

In [28]:
data.get('Ohio')

'Salem'

In [30]:
print(data.get('Louisiana')) #Important question for quiz

None

In [31]:
# Update a dictionary
data.update({'Kentucky':'Louisville', 'Louisiana': 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phionex',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [32]:
# Dictionary KEYS are fixed, NOT immutable
# Dictionary VALUES ARE immutable

### Delete dictionary items using `del` and `pop`

In [33]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phionex',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [34]:
del data['Alabama']
data

{'Arizona': 'Phionex',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

In [35]:
del data['Ohio']
data

{'Arizona': 'Phionex',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge'}

In [36]:
data.pop('Arizona')
data

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [37]:
data.pop('Kentucky')
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [38]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [39]:
len(data)

2

In [40]:
data.keys() # Gives you the keys from the dictionary

dict_keys(['Georgia', 'Louisiana'])

In [41]:
data.values() # Gives you the values from the dictionary

dict_values(['Atlanta', 'Baton Rouge'])

In [42]:
data.items() # Gives you the key-value pair

dict_items([('Georgia', 'Atlanta'), ('Louisiana', 'Baton Rouge')])

### Loop through a dictionary

In [45]:
for key in data.keys():
    print(type(key))
    print(key)

<class 'str'>
Georgia
<class 'str'>
Louisiana

In [47]:
for value in data.values():
    print(value)

Atlanta
Baton Rouge

In [50]:
for item in data.items():
    print(item)
    print(type(item))

('Georgia', 'Atlanta')
<class 'tuple'>
('Louisiana', 'Baton Rouge')
<class 'tuple'>

In [54]:
# Tuple unpacking in dictionary
for state, capitol in data.items():
    print(type(state), type(capitol))
    print(state, capitol)
    print('State Name:', state)
    print('Capitol Name:', capitol)

<class 'str'> <class 'str'>
Georgia Atlanta
State Name: Georgia
Capitol Name: Atlanta
<class 'str'> <class 'str'>
Louisiana Baton Rouge
State Name: Louisiana
Capitol Name: Baton Rouge

### Convert dictionary to lists using `list()` function

In [55]:
data

{'Georgia': 'Atlanta', 'Louisiana': 'Baton Rouge'}

In [62]:
state=list(data.keys())    #Question for quiz
print(state)
print(type(state))

['Georgia', 'Louisiana']
<class 'list'>

In [61]:
capitol=tuple(data.values())
print(capitol)
print(type(capitol))

('Atlanta', 'Baton Rouge')
<class 'tuple'>

### A List in a Dictionary

In [63]:
favorite_languages={'Jen': ['Python', 'Ruby'],
                   'Sarah': ['C'],
                   'Edward': ['Ruby', 'Java'],
                   'Phil': ['Python', 'Haskell']}
print(favorite_languages)

{'Jen': ['Python', 'Ruby'], 'Sarah': ['C'], 'Edward': ['Ruby', 'Java'], 'Phil': ['Python', 'Haskell']}

In [65]:
favorite_languages['Sarah']

['C']

In [71]:
for name, languages in favorite_languages.items():
    print('\n' + name.upper() + ' Favorite languages are: ')
    
    for i in languages:
        print('\t\t\t'+i.upper())

JEN Favorite languages are:
			PYTHON
			RUBY

SARAH Favorite languages are:
			C

EDWARD Favorite languages are:
			RUBY
			JAVA

PHIL Favorite languages are:
			PYTHON
			HASKELL

###  A Dictionary in a Dictionary